.main-element {
    padding-top: 3rem;
}

.column.is-full-mobile {
    padding-left: 0px;
    padding-right: 0px;
}

/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/
